$primary-color: #534e52;
$secondary-color: #965d62;
$third-color: #c7956d;
$forth-color: #f2d974;

.background-primary{
  background-color: $primary-color;
}
.background-secondary{
  background-color: $secondary-color;
}
.background-third{
  background-color: $third-color;
}
.background-forth{
  background-color: $forth-color;
}
.color-primary{
  color: $primary-color;
}
.color-secondary{
  color: $secondary-color;
}
.color-third{
  color: $third-color;
}
.color-forth{
  color: $forth-color;
}