//Page
/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
//Colors
$primary-color: #17181B;
$secondary-color: #2C2D2F;
$third-color: #00A3E1;
$forth-color: #777768;
//Backgrounds
.background-primary{
  background-color: $primary-color;
}
.background-secondary{
  background-color: $secondary-color;
}
.background-third{
  background-color: $third-color;
}
.background-forth{
  background-color: $forth-color;
}
//Text colors
.color-primary{
  color: $primary-color;
}
.color-secondary{
  color: $secondary-color;
}
.color-third{
  color: $third-color;
}
.color-forth{
  color: $forth-color;
}
//Max width
.max-width-100{
  max-width: 100%;
}
.max-width-60{
  max-width: 60%;
}
.max-width-50{
  max-width: 50%;
}
.max-width-40{
  max-width: 40%;
}
//App
.app{
  height:100vh;
  overflow-x:auto;
  overflow-x: hidden;
  width:100vw;
  background-color: $secondary-color;
}