.sidebar{
  position:fixed;
  top:0;
  left:0;
  height: 100vh;
  width:30vw;
}

.sidebar-link{
  color: $forth-color;
  transition: 0.4s;
}
.sidebar-link:hover{
  color:$forth-color;
  //background-color: #965d62;
  transform: translateX(20px);
  transform: translateY(-6px);
  text-decoration:none;
  font-size:1.2rem;
  font-weight: bold;
}
.sidebar-link-active,.sidebar-link-active:hover{
  color:white;
}