.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  padding-right: 0;
  @media (min-width: 576px) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.about-about {
  max-width: 100%;
  @media (min-width: 576px) {
    max-width: 60%;
  }
}
.about-personal {
  max-width: 100%;
  @media (min-width: 576px) {
    max-width: 40%;
    margin-left: auto;
  }
}
.about-experience-wrapper{
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 4px -4px #ffffff77;
  @media (min-width: 576px) {
    flex-direction: row;
    justify-content:space-between;
    align-items: flex-start;
  }
}
.about-experience{
  width:100%;

  @media (min-width: 576px) {
    width:25%;
  }
}
.image-background{
  background-color: $primary-color;
  border-radius:4px;
  max-height: 150px;
}