.contact-input{
  background-color: transparent;
  width:48%;
  border: 2px solid $forth-color;
  color:white;
  box-shadow: white;
}
.contact-input:focus{
  border: 2px solid white;
  box-shadow: none;
  outline:none;
}
.contact-textarea{
  background-color: transparent;
  border: 2px solid $forth-color;
  color:white;
  box-shadow: white;
}
.contact-textarea:focus{
  border: 2px solid white;
  box-shadow: none;
  outline:none;
}
::placeholder{
  color:white;
}
.contact-button,
.contact-button:active,
.contact-button:after,
.contact-button:focus{
  padding: 6px;
  border: 1px solid $third-color;
  border-right-width: 2px;
  border-bottom-width: 2px;
  background-color: transparent;
  color: $third-color;

}
.contact-button:hover{
  color:white;
  border-color: white;
}