.typewriter p {
  overflow: hidden;
  border-right: .15em solid transparent;
  white-space: nowrap;
  margin: 0;
  letter-spacing: .15em;
  animation:
          typing 3.5s steps(40, end),
          blink-caret 0.5s step-end 9;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: orange }
  50% { border-color: transparent; }
}