.resume-content{
  flex-direction: column;
  align-items: center;
  @media (min-width: 576px) {
    flex-direction: row;
    align-items: flex-start;
  }
}
.resume-experience{
  width:100%;
  @media (min-width: 576px) {
    width:50%;
  }
}
.chronology-container{
  border-left:1px solid $third-color;
}
$chronology-circle-size: 16px;
.chronology-circle-top{
  width:$chronology-circle-size;
  height:$chronology-circle-size;
  border: $chronology-circle-size/6 solid $third-color;
  background-color: $primary-color;
  //border-radius:50%;
  position: absolute;
  display:none;
  @media (min-width: 576px) {
    display:block;
    top: -$chronology-circle-size/2;
    left: -$chronology-circle-size/2;
  }
}
.chronology-circle-bottom{
  width:$chronology-circle-size;
  height:$chronology-circle-size;
  background-color: $primary-color;
  border: $chronology-circle-size/6 solid $third-color;
  //border-radius:50%;
  position: absolute;
  display:none;
  @media (min-width: 576px) {
    display:block;
    bottom: -($chronology-circle-size/2);
    left: -($chronology-circle-size/2);
  }
}
.chronology-text-bottom{
  color: $third-color;
  line-height: 1;
  position: absolute;
  left: -($chronology-circle-size);
  bottom: -($chronology-circle-size);
  font-weight: bold;
  border-bottom:1px solid $third-color;
  @media (min-width: 576px) {
    left: -(3*$chronology-circle-size);
    bottom: -($chronology-circle-size/2);
    text-shadow: 2px 2px 2px #00000077;
    border:none;
  }
}
.chronology-text-top{
  color: $third-color;
  line-height: 1;
  position: absolute;
  top: -($chronology-circle-size);
  left: -($chronology-circle-size);
  font-weight: bold;
  border-bottom:1px solid $third-color;
  @media (min-width: 576px) {
    top: -($chronology-circle-size/2);
    left: -(3*$chronology-circle-size);
    text-shadow: 2px 2px 2px #00000077;
    border:none;
  }
}